<?xml version="1.0" encoding="utf-8" ?>
<!-- Hlavní konfigurační soubor minecraft server wrapperu -->
<config version="1">
	
	<!-- Cesta ke spustilnému Java interpretu (default: java.exe) -->
	<!--<javaPath>java.exe</javaPath>-->
	
	<!-- Počet posledních řádků konzole udržených v paměti (default: 40) -->
	<!--<consoleBufferSize>40</consoleBufferSize>-->
	
	<!-- Seznam spravovaných serverů -->
	<serverList>
		<!-- 
		Konfigurace serveru
		name slouží k identifikaci serveru a musí být unikátní 
		memAlloc je nepovinný a značí množství počátečně alokované paměti v MB (ekvivalent argumentu -XmsXXM)
		maxMemAlloc je nepovinný a značí maximální množství alokované paměti v MB (ekvivalent argumentu -Xmx)
		-->
		<server name="default" memAlloc="1024" maxMemAlloc="2048">
			<!-- Cesta ke složce serveru (relativní nebo absolutní) -->
			<path>./MinecraftServer</path>
			
			<!-- Spustitelný .jar serveru (relativní ke složce serveru) -->
			<executable>minecraft_server.jar</executable>
			
			<!-- Další vlastní argumenty spuštění -->
			<!--<args>-XX:+UseG1GC</args>-->
			
			<!-- Má li se server po spuštění služby spustit (default: true) -->
			<!--<autoStart>true</autoStart>-->
			
			<!-- Pokud dojde k nekorektnímu ukončení serveru (pádu) má se wrapper pokusit server znovu nastartovat (default: false) -->
			<!--<restartOnFailure>false</restartOnFailure>-->
		</server>
	</serverList>
	
	<!--
	Vzdálené ovládání pro všechy spravované servery
	Atribut address je volitelný, v případě že není specifikován bude konzole naslouchat na všech adresách
	Pro zakázání stačí odstranit nebo zakomentovat celý blok remoteManager
	defaultní port: 25500
	-->
	<remoteManager address="127.0.0.1" port="25500">
		<!-- Heslo a uživatelské jméno pro autentifikaci jsou povinné, 
		v případě prázdných nebo chybějících údajů bude vzdálené ovládání deaktivováno -->
		<username>admin</username>
		<password>password</password>
	</remoteManager>
	
</config>